<ion-item-divider *ngIf="profileTeamPlayerIndex == match.winningTeam; else defeat">
    <small>Victory</small>
    <ion-badge color="secondary" item-end>+7 Elo</ion-badge>
</ion-item-divider>

<ng-template #defeat>
    <ion-item-divider>
        <small>Defeat</small>
        <ion-badge color="danger" item-end>-7 Elo</ion-badge>
    </ion-item-divider>
</ng-template>

<button ion-item>
    <ion-grid no-padding>
        <ion-row>
            <ion-col>
                <ion-avatar item-start>
                    <agora-sprite-hero-avatar [heroName]="profileTeamPlayer.hero"
                                              [size]="48"></agora-sprite-hero-avatar>
                </ion-avatar>
                <p>{{profileTeamPlayer.heroData.name}}</p>
            </ion-col>
            <ion-col text-center>
                <p>{{profileTeamPlayer.kdaRatio}} KDA</p>
                <p><b>{{profileTeamPlayer.kills}} / {{profileTeamPlayer.deaths}} / {{profileTeamPlayer.assists}} </b>
                </p>
                <p>
                    <small>{{profileTeamPlayer.killParticipation}}%</small>
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</button>