page-card-summary {

  .card-image-wrapper {
    background: color($colors, dark);
    height: 290px;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }

  .card-loading {
    margin-top: -175px;
    color: #FFF;
    z-index: 15;
    position: relative;
    ion-spinner {
      color: #FFF
    }
  }

  ion-img {
    background: color($colors, dark);
    width: 100%;
    min-height: 340px;
    img {
      width: 100%;
      display: block;
      margin-top: -25%;
    }
  }

  .img-loaded + .card-loading {
    display:none;
  }

  ion-card {

    opacity: 0.95;

    ion-card-header {
      border-bottom: 1px solid color($colors, light);
    }

    &.affinity-chaos {
      ion-card-header {
        background: color($colors, affinity-chaos);
      }
    }

    &.affinity-death {
      ion-card-header {
        background: color($colors, affinity-death);
      }
    }

    &.affinity-knowledge {
      ion-card-header {
        background: color($colors, affinity-knowledge);
      }
    }

    &.affinity-order {
      ion-card-header {
        background: color($colors, affinity-order);
      }
    }

    &.affinity-growth {
      ion-card-header {
        background: color($colors, affinity-growth);
      }
    }

  }

}
