agora-sprite-hero-avatar {

  .icon-hero-100 {
    background-image: url('../assets/imgs/sprites/hero-sprite/sprite-hero-100.jpg');
  }

  .icon-hero-16 {
    background-image: url('../assets/imgs/sprites/hero-sprite/sprite-hero-16.jpg');
  }

  .icon-hero-32 {
    background-image: url('../assets/imgs/sprites/hero-sprite/sprite-hero-32.jpg');
  }

  .icon-hero-20 {
    background-image: url('../assets/imgs/sprites/hero-sprite/sprite-hero-20.jpg');
  }

  .icon-hero-48 {
    background-image: url('../assets/imgs/sprites/hero-sprite/sprite-hero-48.jpg');
  }

  .icon-hero-64 {
    background-image: url('../assets/imgs/sprites/hero-sprite/sprite-hero-64.jpg');
  }

  .hero-16-dc8dd4e2ff11d6706866be8fb18e9208, .hero-16-HeroData_ArcBlade {
    background-position: 0 -80px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-dc8dd4e2ff11d6706866be8fb18e9208, .hero-20-HeroData_ArcBlade {
    background-position: 0 -100px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-dc8dd4e2ff11d6706866be8fb18e9208, .hero-32-HeroData_ArcBlade {
    background-position: 0 -160px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-dc8dd4e2ff11d6706866be8fb18e9208, .hero-48-HeroData_ArcBlade {
    background-position: 0 -240px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-dc8dd4e2ff11d6706866be8fb18e9208, .hero-64-HeroData_ArcBlade {
    background-position: 0 -320px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-dc8dd4e2ff11d6706866be8fb18e9208, .hero-100-HeroData_ArcBlade {
    background-position: 0 -500px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-564380fe55ccc1014330d8123fa9810d, .hero-16-HeroData_Chains {
    background-position: 0 -96px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-564380fe55ccc1014330d8123fa9810d, .hero-20-HeroData_Chains {
    background-position: 0 -120px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-564380fe55ccc1014330d8123fa9810d, .hero-32-HeroData_Chains {
    background-position: 0 -192px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-564380fe55ccc1014330d8123fa9810d, .hero-48-HeroData_Chains {
    background-position: 0 -288px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-564380fe55ccc1014330d8123fa9810d, .hero-64-HeroData_Chains {
    background-position: 0 -384px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-564380fe55ccc1014330d8123fa9810d, .hero-100-HeroData_Chains {
    background-position: 0 -600px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-a9c3c59927ff7313d52751a54b331ad2, .hero-16-HeroData_Coil {
    background-position: 0 -112px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-a9c3c59927ff7313d52751a54b331ad2, .hero-20-HeroData_Coil {
    background-position: 0 -140px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-a9c3c59927ff7313d52751a54b331ad2, .hero-32-HeroData_Coil {
    background-position: 0 -224px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-a9c3c59927ff7313d52751a54b331ad2, .hero-48-HeroData_Coil {
    background-position: 0 -336px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-a9c3c59927ff7313d52751a54b331ad2, .hero-64-HeroData_Coil {
    background-position: 0 -448px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-a9c3c59927ff7313d52751a54b331ad2, .hero-100-HeroData_Coil {
    background-position: 0 -700px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-20a755dd3f6ef6fda5ac9bc1dfba365f, .hero-16-HeroData_Gadget {
    background-position: 0 -160px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-20a755dd3f6ef6fda5ac9bc1dfba365f, .hero-20-HeroData_Gadget {
    background-position: 0 -200px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-20a755dd3f6ef6fda5ac9bc1dfba365f, .hero-32-HeroData_Gadget {
    background-position: 0 -320px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-20a755dd3f6ef6fda5ac9bc1dfba365f, .hero-48-HeroData_Gadget {
    background-position: 0 -480px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-20a755dd3f6ef6fda5ac9bc1dfba365f, .hero-64-HeroData_Gadget {
    background-position: 0 -640px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-20a755dd3f6ef6fda5ac9bc1dfba365f, .hero-100-HeroData_Gadget {
    background-position: 0 -1000px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-fc010be1a0bf295a347944e1e97ba583, .hero-16-HeroData_Grux {
    background-position: 0 -176px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-fc010be1a0bf295a347944e1e97ba583, .hero-20-HeroData_Grux {
    background-position: 0 -220px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-fc010be1a0bf295a347944e1e97ba583, .hero-32-HeroData_Grux {
    background-position: 0 -352px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-fc010be1a0bf295a347944e1e97ba583, .hero-48-HeroData_Grux {
    background-position: 0 -528px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-fc010be1a0bf295a347944e1e97ba583, .hero-64-HeroData_Grux {
    background-position: 0 -704px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-fc010be1a0bf295a347944e1e97ba583, .hero-100-HeroData_Grux {
    background-position: 0 -1100px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-7399ecfbab365cdb8543da3dfbe830e6, .hero-16-HeroData_Hammer {
    background-position: 0 -192px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-7399ecfbab365cdb8543da3dfbe830e6, .hero-20-HeroData_Hammer {
    background-position: 0 -240px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-7399ecfbab365cdb8543da3dfbe830e6, .hero-32-HeroData_Hammer {
    background-position: 0 -384px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-7399ecfbab365cdb8543da3dfbe830e6, .hero-48-HeroData_Hammer {
    background-position: 0 -576px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-7399ecfbab365cdb8543da3dfbe830e6, .hero-64-HeroData_Hammer {
    background-position: 0 -768px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-7399ecfbab365cdb8543da3dfbe830e6, .hero-100-HeroData_Hammer {
    background-position: 0 -1200px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-786d477b6bf412e5a1ab0a2539e8b78c, .hero-16-HeroData_HyperBreach {
    background-position: 0 -208px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-786d477b6bf412e5a1ab0a2539e8b78c, .hero-20-HeroData_HyperBreach {
    background-position: 0 -260px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-786d477b6bf412e5a1ab0a2539e8b78c, .hero-32-HeroData_HyperBreach {
    background-position: 0 -416px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-786d477b6bf412e5a1ab0a2539e8b78c, .hero-48-HeroData_HyperBreach {
    background-position: 0 -624px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-786d477b6bf412e5a1ab0a2539e8b78c, .hero-64-HeroData_HyperBreach {
    background-position: 0 -832px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-786d477b6bf412e5a1ab0a2539e8b78c, .hero-100-HeroData_HyperBreach {
    background-position: 0 -1300px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-cf19dc5ac814474f6d317b2c28dff999, .hero-16-HeroData_Kurohane {
    background-position: 0 -240px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-cf19dc5ac814474f6d317b2c28dff999, .hero-20-HeroData_Kurohane {
    background-position: 0 -300px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-cf19dc5ac814474f6d317b2c28dff999, .hero-32-HeroData_Kurohane {
    background-position: 0 -480px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-cf19dc5ac814474f6d317b2c28dff999, .hero-48-HeroData_Kurohane {
    background-position: 0 -720px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-cf19dc5ac814474f6d317b2c28dff999, .hero-64-HeroData_Kurohane {
    background-position: 0 -960px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-cf19dc5ac814474f6d317b2c28dff999, .hero-100-HeroData_Kurohane {
    background-position: 0 -1500px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-6aff7bbee67452fde268dadc938093db, .hero-16-HeroData_Kwang {
    background-position: 0 -256px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-6aff7bbee67452fde268dadc938093db, .hero-20-HeroData_Kwang {
    background-position: 0 -320px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-6aff7bbee67452fde268dadc938093db, .hero-32-HeroData_Kwang {
    background-position: 0 -512px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-6aff7bbee67452fde268dadc938093db, .hero-48-HeroData_Kwang {
    background-position: 0 -768px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-6aff7bbee67452fde268dadc938093db, .hero-64-HeroData_Kwang {
    background-position: 0 -1024px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-6aff7bbee67452fde268dadc938093db, .hero-100-HeroData_Kwang {
    background-position: 0 -1600px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-f8fc4d76627c1121251760c28729bbff, .hero-16-HeroData_Muriel {
    background-position: 0 -304px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-f8fc4d76627c1121251760c28729bbff, .hero-20-HeroData_Muriel {
    background-position: 0 -380px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-f8fc4d76627c1121251760c28729bbff, .hero-32-HeroData_Muriel {
    background-position: 0 -608px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-f8fc4d76627c1121251760c28729bbff, .hero-48-HeroData_Muriel {
    background-position: 0 -912px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-f8fc4d76627c1121251760c28729bbff, .hero-64-HeroData_Muriel {
    background-position: 0 -1216px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-f8fc4d76627c1121251760c28729bbff, .hero-100-HeroData_Muriel {
    background-position: 0 -1900px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-0df5b4104955a71326ad15a36fd6ed62, .hero-16-HeroData_Price {
    background-position: 0 -336px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-0df5b4104955a71326ad15a36fd6ed62, .hero-20-HeroData_Price {
    background-position: 0 -420px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-0df5b4104955a71326ad15a36fd6ed62, .hero-32-HeroData_Price {
    background-position: 0 -672px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-0df5b4104955a71326ad15a36fd6ed62, .hero-48-HeroData_Price {
    background-position: 0 -1008px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-0df5b4104955a71326ad15a36fd6ed62, .hero-64-HeroData_Price {
    background-position: 0 -1344px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-0df5b4104955a71326ad15a36fd6ed62, .hero-100-HeroData_Price {
    background-position: 0 -2100px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-4f1658f6bb26fb1426aa2cbe103c42b3, .hero-16-HeroData_Pyro {
    background-position: 0 -352px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-4f1658f6bb26fb1426aa2cbe103c42b3, .hero-20-HeroData_Pyro {
    background-position: 0 -440px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-4f1658f6bb26fb1426aa2cbe103c42b3, .hero-32-HeroData_Pyro {
    background-position: 0 -704px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-4f1658f6bb26fb1426aa2cbe103c42b3, .hero-48-HeroData_Pyro {
    background-position: 0 -1056px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-4f1658f6bb26fb1426aa2cbe103c42b3, .hero-64-HeroData_Pyro {
    background-position: 0 -1408px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-4f1658f6bb26fb1426aa2cbe103c42b3, .hero-100-HeroData_Pyro {
    background-position: 0 -2200px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-0fd6f97096f0356e479dc8ef23dcd819, .hero-16-HeroData_Rampage {
    background-position: 0 -368px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-0fd6f97096f0356e479dc8ef23dcd819, .hero-20-HeroData_Rampage {
    background-position: 0 -460px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-0fd6f97096f0356e479dc8ef23dcd819, .hero-32-HeroData_Rampage {
    background-position: 0 -736px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-0fd6f97096f0356e479dc8ef23dcd819, .hero-48-HeroData_Rampage {
    background-position: 0 -1104px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-0fd6f97096f0356e479dc8ef23dcd819, .hero-64-HeroData_Rampage {
    background-position: 0 -1472px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-0fd6f97096f0356e479dc8ef23dcd819, .hero-100-HeroData_Rampage {
    background-position: 0 -2300px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-621951eb7e50d848c32e5fcf110d6776, .hero-16-HeroData_RiftMage {
    background-position: 0 -400px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-621951eb7e50d848c32e5fcf110d6776, .hero-20-HeroData_RiftMage {
    background-position: 0 -500px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-621951eb7e50d848c32e5fcf110d6776, .hero-32-HeroData_RiftMage {
    background-position: 0 -800px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-621951eb7e50d848c32e5fcf110d6776, .hero-48-HeroData_RiftMage {
    background-position: 0 -1200px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-621951eb7e50d848c32e5fcf110d6776, .hero-64-HeroData_RiftMage {
    background-position: 0 -1600px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-621951eb7e50d848c32e5fcf110d6776, .hero-100-HeroData_RiftMage {
    background-position: 0 -2500px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-fb582fe82f0956269d7d656189d8b845, .hero-16-HeroData_Sparrow {
    background-position: 0 -416px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-fb582fe82f0956269d7d656189d8b845, .hero-20-HeroData_Sparrow {
    background-position: 0 -520px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-fb582fe82f0956269d7d656189d8b845, .hero-32-HeroData_Sparrow {
    background-position: 0 -832px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-fb582fe82f0956269d7d656189d8b845, .hero-48-HeroData_Sparrow {
    background-position: 0 -1248px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-fb582fe82f0956269d7d656189d8b845, .hero-64-HeroData_Sparrow {
    background-position: 0 -1664px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-fb582fe82f0956269d7d656189d8b845, .hero-100-HeroData_Sparrow {
    background-position: 0 -2600px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-350982a548a16ce00215b04dbe62a0b1, .hero-16-HeroData_Steel {
    background-position: 0 -432px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-350982a548a16ce00215b04dbe62a0b1, .hero-20-HeroData_Steel {
    background-position: 0 -540px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-350982a548a16ce00215b04dbe62a0b1, .hero-32-HeroData_Steel {
    background-position: 0 -864px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-350982a548a16ce00215b04dbe62a0b1, .hero-48-HeroData_Steel {
    background-position: 0 -1296px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-350982a548a16ce00215b04dbe62a0b1, .hero-64-HeroData_Steel {
    background-position: 0 -1728px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-350982a548a16ce00215b04dbe62a0b1, .hero-100-HeroData_Steel {
    background-position: 0 -2700px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-d62ed5512ced144d4c5fe8bf3505c6a6, .hero-16-HeroData_Sword {
    background-position: 0 -448px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-d62ed5512ced144d4c5fe8bf3505c6a6, .hero-20-HeroData_Sword {
    background-position: 0 -560px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-d62ed5512ced144d4c5fe8bf3505c6a6, .hero-32-HeroData_Sword {
    background-position: 0 -896px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-d62ed5512ced144d4c5fe8bf3505c6a6, .hero-48-HeroData_Sword {
    background-position: 0 -1344px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-d62ed5512ced144d4c5fe8bf3505c6a6, .hero-64-HeroData_Sword {
    background-position: 0 -1792px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-d62ed5512ced144d4c5fe8bf3505c6a6, .hero-100-HeroData_Sword {
    background-position: 0 -2800px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-2baa49db7d0f9fd4e9d5d9ef435626e7, .hero-16-HeroData_Tomahawk {
    background-position: 0 -480px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-2baa49db7d0f9fd4e9d5d9ef435626e7, .hero-20-HeroData_Tomahawk {
    background-position: 0 -600px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-2baa49db7d0f9fd4e9d5d9ef435626e7, .hero-32-HeroData_Tomahawk {
    background-position: 0 -960px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-2baa49db7d0f9fd4e9d5d9ef435626e7, .hero-48-HeroData_Tomahawk {
    background-position: 0 -1440px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-2baa49db7d0f9fd4e9d5d9ef435626e7, .hero-64-HeroData_Tomahawk {
    background-position: 0 -1920px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-2baa49db7d0f9fd4e9d5d9ef435626e7, .hero-100-HeroData_Tomahawk {
    background-position: 0 -3000px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-ce9955a7ce823ffc0ecc71902f039201, .hero-16-HeroData_Totem {
    background-position: 0 -496px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-ce9955a7ce823ffc0ecc71902f039201, .hero-20-HeroData_Totem {
    background-position: 0 -620px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-ce9955a7ce823ffc0ecc71902f039201, .hero-32-HeroData_Totem {
    background-position: 0 -992px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-ce9955a7ce823ffc0ecc71902f039201, .hero-48-HeroData_Totem {
    background-position: 0 -1488px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-ce9955a7ce823ffc0ecc71902f039201, .hero-64-HeroData_Totem {
    background-position: 0 -1984px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-ce9955a7ce823ffc0ecc71902f039201, .hero-100-HeroData_Totem {
    background-position: 0 -3100px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-966e34d87f81ec512e0bb5be93b87bbf, .hero-16-HeroData_TwinBlast {
    background-position: 0 -512px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-966e34d87f81ec512e0bb5be93b87bbf, .hero-20-HeroData_TwinBlast {
    background-position: 0 -640px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-966e34d87f81ec512e0bb5be93b87bbf, .hero-32-HeroData_TwinBlast {
    background-position: 0 -1024px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-966e34d87f81ec512e0bb5be93b87bbf, .hero-48-HeroData_TwinBlast {
    background-position: 0 -1536px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-966e34d87f81ec512e0bb5be93b87bbf, .hero-64-HeroData_TwinBlast {
    background-position: 0 -2048px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-966e34d87f81ec512e0bb5be93b87bbf, .hero-100-HeroData_TwinBlast {
    background-position: 0 -3200px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-d1bc0d62ee2c08a7a493f666bd514932, .hero-16-HeroData_Venus {
    background-position: 0 -544px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-d1bc0d62ee2c08a7a493f666bd514932, .hero-20-HeroData_Venus {
    background-position: 0 -680px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-d1bc0d62ee2c08a7a493f666bd514932, .hero-32-HeroData_Venus {
    background-position: 0 -1088px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-d1bc0d62ee2c08a7a493f666bd514932, .hero-48-HeroData_Venus {
    background-position: 0 -1632px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-d1bc0d62ee2c08a7a493f666bd514932, .hero-64-HeroData_Venus {
    background-position: 0 -2176px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-d1bc0d62ee2c08a7a493f666bd514932, .hero-100-HeroData_Venus {
    background-position: 0 -3400px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-214573d44df234eb620002c891d9e826, .hero-16-HeroData_WarDrum {
    background-position: 0 -560px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-214573d44df234eb620002c891d9e826, .hero-20-HeroData_WarDrum {
    background-position: 0 -700px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-214573d44df234eb620002c891d9e826, .hero-32-HeroData_WarDrum {
    background-position: 0 -1120px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-214573d44df234eb620002c891d9e826, .hero-48-HeroData_WarDrum {
    background-position: 0 -1680px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-214573d44df234eb620002c891d9e826, .hero-64-HeroData_WarDrum {
    background-position: 0 -2240px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-214573d44df234eb620002c891d9e826, .hero-100-HeroData_WarDrum {
    background-position: 0 -3500px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-3a76b90019a3df4bd43387791edd865a, .hero-16-HeroData_Tacticia {
    background-position: 0 -464px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-3a76b90019a3df4bd43387791edd865a, .hero-20-HeroData_Tacticia {
    background-position: 0 -580px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-3a76b90019a3df4bd43387791edd865a, .hero-32-HeroData_Tacticia {
    background-position: 0 -928px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-3a76b90019a3df4bd43387791edd865a, .hero-48-HeroData_Tacticia {
    background-position: 0 -1392px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-3a76b90019a3df4bd43387791edd865a, .hero-64-HeroData_Tacticia {
    background-position: 0 -1856px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-3a76b90019a3df4bd43387791edd865a, .hero-100-HeroData_Tacticia {
    background-position: 0 -2900px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-051b478dd9b58f6f31c5e580996724df, .hero-16-HeroData_Vamp {
    background-position: 0 -528px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-051b478dd9b58f6f31c5e580996724df, .hero-20-HeroData_Vamp {
    background-position: 0 -660px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-051b478dd9b58f6f31c5e580996724df, .hero-32-HeroData_Vamp {
    background-position: 0 -1056px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-051b478dd9b58f6f31c5e580996724df, .hero-48-HeroData_Vamp {
    background-position: 0 -1584px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-051b478dd9b58f6f31c5e580996724df, .hero-64-HeroData_Vamp {
    background-position: 0 -2112px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-051b478dd9b58f6f31c5e580996724df, .hero-100-HeroData_Vamp {
    background-position: 0 -3300px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-605b482ced792e4366dfb0d1b901bc2c, .hero-16-HeroData_Crunch {
    background-position: 0 -128px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-605b482ced792e4366dfb0d1b901bc2c, .hero-20-HeroData_Crunch {
    background-position: 0 -160px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-605b482ced792e4366dfb0d1b901bc2c, .hero-32-HeroData_Crunch {
    background-position: 0 -256px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-605b482ced792e4366dfb0d1b901bc2c, .hero-48-HeroData_Crunch {
    background-position: 0 -384px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-605b482ced792e4366dfb0d1b901bc2c, .hero-64-HeroData_Crunch {
    background-position: 0 -512px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-605b482ced792e4366dfb0d1b901bc2c, .hero-100-HeroData_Crunch {
    background-position: 0 -800px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-69dc74a9182154c5edefa319f1e48720, .hero-16-HeroData_FallenAngel {
    background-position: 0 -16px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-69dc74a9182154c5edefa319f1e48720, .hero-20-HeroData_FallenAngel {
    background-position: 0 -20px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-69dc74a9182154c5edefa319f1e48720, .hero-32-HeroData_FallenAngel {
    background-position: 0 -32px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-69dc74a9182154c5edefa319f1e48720, .hero-48-HeroData_FallenAngel {
    background-position: 0 -48px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-69dc74a9182154c5edefa319f1e48720, .hero-64-HeroData_FallenAngel {
    background-position: 0 -64px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-69dc74a9182154c5edefa319f1e48720, .hero-100-HeroData_FallenAngel {
    background-position: 0 -100px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-12311ccb1127311ec972ca48a72cfe47, .hero-16-HeroData_Ice {
    background-position: 0 -224px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-12311ccb1127311ec972ca48a72cfe47, .hero-20-HeroData_Ice {
    background-position: 0 -280px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-12311ccb1127311ec972ca48a72cfe47, .hero-32-HeroData_Ice {
    background-position: 0 -448px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-12311ccb1127311ec972ca48a72cfe47, .hero-48-HeroData_Ice {
    background-position: 0 -672px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-12311ccb1127311ec972ca48a72cfe47, .hero-64-HeroData_Ice {
    background-position: 0 -896px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-12311ccb1127311ec972ca48a72cfe47, .hero-100-HeroData_Ice {
    background-position: 0 -1400px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-124004f32034b156d6eff2fa156817e5, .hero-16-HeroData_Mudang {
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-124004f32034b156d6eff2fa156817e5, .hero-20-HeroData_Mudang {
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-124004f32034b156d6eff2fa156817e5, .hero-32-HeroData_Mudang {
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-124004f32034b156d6eff2fa156817e5, .hero-48-HeroData_Mudang {
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-124004f32034b156d6eff2fa156817e5, .hero-64-HeroData_Mudang {
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-124004f32034b156d6eff2fa156817e5, .hero-100-HeroData_Mudang {
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-4be101fc8e82688086b1a205aa24d2d8, .hero-16-HeroData_Femme {
    background-position: 0 -144px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-4be101fc8e82688086b1a205aa24d2d8, .hero-20-HeroData_Femme {
    background-position: 0 -180px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-4be101fc8e82688086b1a205aa24d2d8, .hero-32-HeroData_Femme {
    background-position: 0 -288px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-4be101fc8e82688086b1a205aa24d2d8, .hero-48-HeroData_Femme {
    background-position: 0 -432px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-4be101fc8e82688086b1a205aa24d2d8, .hero-64-HeroData_Femme {
    background-position: 0 -576px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-4be101fc8e82688086b1a205aa24d2d8, .hero-100-HeroData_Femme {
    background-position: 0 -900px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-44c9da1c2937c54e39e7957386d70482, .hero-16-HeroData_Mambo {
    background-position: 0 -272px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-44c9da1c2937c54e39e7957386d70482, .hero-20-HeroData_Mambo {
    background-position: 0 -340px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-44c9da1c2937c54e39e7957386d70482, .hero-32-HeroData_Mambo {
    background-position: 0 -544px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-44c9da1c2937c54e39e7957386d70482, .hero-48-HeroData_Mambo {
    background-position: 0 -816px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-44c9da1c2937c54e39e7957386d70482, .hero-64-HeroData_Mambo {
    background-position: 0 -1088px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-44c9da1c2937c54e39e7957386d70482, .hero-100-HeroData_Mambo {
    background-position: 0 -1700px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-82331aa4706a01589f9227e87ae43c25, .hero-16-HeroData_Revenant {
    background-position: 0 -384px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-82331aa4706a01589f9227e87ae43c25, .hero-20-HeroData_Revenant {
    background-position: 0 -480px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-82331aa4706a01589f9227e87ae43c25, .hero-32-HeroData_Revenant {
    background-position: 0 -768px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-82331aa4706a01589f9227e87ae43c25, .hero-48-HeroData_Revenant {
    background-position: 0 -1152px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-82331aa4706a01589f9227e87ae43c25, .hero-64-HeroData_Revenant {
    background-position: 0 -1536px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-82331aa4706a01589f9227e87ae43c25, .hero-100-HeroData_Revenant {
    background-position: 0 -2400px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-24da1c795e78c4dd3c8dcb4a993d463c, .hero-16-HeroData_Phase {
    background-position: 0 -320px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-24da1c795e78c4dd3c8dcb4a993d463c, .hero-20-HeroData_Phase {
    background-position: 0 -400px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-24da1c795e78c4dd3c8dcb4a993d463c, .hero-32-HeroData_Phase {
    background-position: 0 -640px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-24da1c795e78c4dd3c8dcb4a993d463c, .hero-48-HeroData_Phase {
    background-position: 0 -960px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-24da1c795e78c4dd3c8dcb4a993d463c, .hero-64-HeroData_Phase {
    background-position: 0 -1280px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-24da1c795e78c4dd3c8dcb4a993d463c, .hero-100-HeroData_Phase {
    background-position: 0 -2000px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-393d70e8bfec50aca0c77441d7c0763b, .hero-16-HeroData_Wukong {
    background-position: 0 -64px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-393d70e8bfec50aca0c77441d7c0763b, .hero-20-HeroData_Wukong {
    background-position: 0 -80px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-393d70e8bfec50aca0c77441d7c0763b, .hero-32-HeroData_Wukong {
    background-position: 0 -128px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-393d70e8bfec50aca0c77441d7c0763b, .hero-48-HeroData_Wukong {
    background-position: 0 -192px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-393d70e8bfec50aca0c77441d7c0763b, .hero-64-HeroData_Wukong {
    background-position: 0 -256px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-393d70e8bfec50aca0c77441d7c0763b, .hero-100-HeroData_Wukong {
    background-position: 0 -400px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-1c9876200832435a4b1a48545b149aad, .hero-16-HeroData_Ghost {
    background-position: 0 -288px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-1c9876200832435a4b1a48545b149aad, .hero-20-HeroData_Ghost {
    background-position: 0 -360px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-1c9876200832435a4b1a48545b149aad, .hero-32-HeroData_Ghost {
    background-position: 0 -576px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-1c9876200832435a4b1a48545b149aad, .hero-48-HeroData_Ghost {
    background-position: 0 -864px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-1c9876200832435a4b1a48545b149aad, .hero-64-HeroData_Ghost {
    background-position: 0 -1152px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-1c9876200832435a4b1a48545b149aad, .hero-100-HeroData_Ghost {
    background-position: 0 -1800px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-a36903a3aa6e38690b0a555e7f7f7e1d, .hero-16-HeroData_Medic {
    background-position: 0 -32px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-a36903a3aa6e38690b0a555e7f7f7e1d, .hero-20-HeroData_Medic {
    background-position: 0 -40px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-a36903a3aa6e38690b0a555e7f7f7e1d, .hero-32-HeroData_Medic {
    background-position: 0 -64px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-a36903a3aa6e38690b0a555e7f7f7e1d, .hero-48-HeroData_Medic {
    background-position: 0 -96px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-a36903a3aa6e38690b0a555e7f7f7e1d, .hero-64-HeroData_Medic {
    background-position: 0 -128px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-a36903a3aa6e38690b0a555e7f7f7e1d, .hero-100-HeroData_Medic {
    background-position: 0 -200px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

  .hero-16-398d1f10a3c68a0d9f506a6d0e4a6aa5, .hero-16-HeroData_Shrapnel {
    background-position: 0 -48px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px
  }

  .hero-20-398d1f10a3c68a0d9f506a6d0e4a6aa5, .hero-20-HeroData_Shrapnel {
    background-position: 0 -60px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px
  }

  .hero-32-398d1f10a3c68a0d9f506a6d0e4a6aa5, .hero-32-HeroData_Shrapnel {
    background-position: 0 -96px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 32px;
    height: 32px
  }

  .hero-48-398d1f10a3c68a0d9f506a6d0e4a6aa5, .hero-48-HeroData_Shrapnel {
    background-position: 0 -144px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 48px;
    height: 48px
  }

  .hero-64-398d1f10a3c68a0d9f506a6d0e4a6aa5, .hero-64-HeroData_Shrapnel {
    background-position: 0 -192px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 64px;
    height: 64px
  }

  .hero-100-398d1f10a3c68a0d9f506a6d0e4a6aa5, .hero-100-HeroData_Shrapnel {
    background-position: 0 -300px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px
  }

}
