.ios, .md {
  page-matches {
    .toolbar-select {
      .item {
        background: transparent;
        color: #fff;
      }
      .item-block .item-inner {
        border: none;
      }

      ion-select {
        background: #4a4a4a;
        font-size: 1.25rem;
        min-width: 100px;

        border-radius: 5px;
        padding-right: 10px;
      }
    }

  }

  agora-sprite-hero-avatar {
    .icon-hero {
      border-radius: 50%;
      border: solid 2px color($colors, primary);
    }
  }

  .match__victory-divider {
    color: color($colors, secondary);
    border-left: 3px solid color($colors, secondary);
  }

  .match__defeat-divider {
    color: color($colors, danger);
    border-left: 3px solid color($colors, danger);
  }

}

.ios {
  page-matches {
    .toolbar-select {
      ion-select {
        height: 35px;
      }
    }
  }
}

.md {
  page-matches {
    .toolbar-select {
      ion-select {
        height: 39px;
      }
    }
  }
}