<ion-content>


    <ion-item-divider color="primary">
        Affinity
    </ion-item-divider>

    <ion-item *ngFor="let option of options">
        <affinity-icon [affinity]="option.value" [iconSize]="'32'" item-start></affinity-icon>
        <ion-label>{{option.name}}</ion-label>
        <ion-radio *ngIf="option.value == filter" checked value="{{option.name}}"
                   (ionSelect)="setAffinityFilter(option.value)"></ion-radio>
        <ion-radio *ngIf="option.value != filter" value="{{option.name}}"
                   (ionSelect)="setAffinityFilter(option.value)"></ion-radio>
    </ion-item>


    <button ion-item (click)="clearFilter()">
        Clear
        <ion-icon item-end name="close"></ion-icon>
    </button>

</ion-content>
