.ios, .md {
  profile-page {

    .profile__header {

      border-top: 2px solid color($colors, primary);
      background-color: color($colors, dark);

      display: flex;
      align-items: center;

      .profile__header-avatar {
        float: left;

        agora-sprite-hero-avatar {
          .icon-hero {
            border-radius: 50%;
            border: 2px solid color($colors, primary);
            margin: 15px;
          }
        }
      }

      .profile__header-name {
        float: left;
        color: color($colors, primary);
        h2 {
          margin: 0;
        }
      }

      &:after {
        content: '';
        display: block;
        clear: both;
      }

    }

    .profile__elo {
      h2 {
        font-size: 2em;
        font-weight: bold;
      }
      .profile__rank-item {
        border-top: 1px solid color($colors, light);

      }
    }


    .profile__hero-breakdown {

      ion-item.item {
        border-bottom: thin solid color($colors, light);
      }

      agora-sprite-hero-avatar {
        .icon-hero {
          border-radius: 50%;
          border: 2px solid color($colors, primary);
        }
      }

    }


  }
}