.ios, .md {
  page-hero-summary {

    ion-content.content {
      background-color: color($colors, dark);
      background-size: cover !important;
      background-position: top center !important;
    }

    ion-card {
      opacity: 0.94;
    }

    .hero-summary__header-card {

      opacity: 0.9;

      ion-avatar {
        width: 64px;
        height: 64px;
      }

      agora-sprite-hero-avatar {
        div {
          border-radius: 50%;
          border: 2px solid color($colors, primary);
        }
      }

      h2 {
        font-size: 1.5em;
        font-weight: bold;
      }
    }

    affinity-icon {
      .affinity-icon {
        margin: 0 auto;
        margin-bottom: 15px;
      }
    }
  }

}
