.ios, .md {
  heroes-page {
    agora-sprite-hero-avatar {
      div {
        border: 2px solid color($colors, primary);
        border-radius: 50%;
        //overflow: hidden;
      }
    }

    .item {
      h2 {
        font-weight: bold;
        color: color($colors, primary);
      }
    }
  }
}
