<ion-header>
    <ion-navbar color="dark">
        <ion-title>Elo summary</ion-title>
        <ion-buttons end>
            <button ion-button (click)="close()">Close</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-card *ngFor="let _league of leagues">
        <ion-card-header [ngClass]="'elo-' + _league.iconName">
            <b>{{_league.name}}</b>
        </ion-card-header>

        <ion-card-content>

            <agora-sprite-league [league]="_league.iconName" [spriteSize]="'md'"></agora-sprite-league>
            <span class="league-range elo-text elo-{{_league.iconName}}">{{_league.rangeStart}}</span>
            <span class="league-range elo-text elo-{{_league.iconName}}" *ngIf="_league.rangeEnd"> - {{_league.rangeEnd}}</span>

        </ion-card-content>

    </ion-card>

    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="close()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-fab>

</ion-content>
