page-cards {

  h2 {

    font-weight: bold !important;

    &.Chaos {
      color: color($colors, affinity-chaos)
    }
    &.Death {
      color: color($colors, affinity-death)
    }
    &.Knowledge {
      color: color($colors, affinity-knowledge)
    }
    &.Order {
      color: color($colors, affinity-order)
    }
    &.Growth {
      color: color($colors, affinity-growth)
    }
  }

}
